<footer class="bg-teal-600 mt-8 py-4">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-between py-4 md:flex-row">
      <div>
        <p class="text-xs text-white">Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 1993-2024 Wizards. All Rights Reserved.</p>
        <p class="text-xs text-white">© <%= Date.current.strftime("%Y") %> Grimoire</p>
      </div>
    </div>
  </div>
</footer>
